@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Poppins font globally */
body {
  @apply font-poppins;
}

/* You can also define the font family here */
:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.collapse-shadow {
  box-shadow: 0px 4px 4px 0px rgba(182, 234, 235, 0.23);
}


.banner-container {
  position: relative;
}

.lable1, .lable2, .lable3, .lable4, .lable5 {
  position: absolute;
  color: white;
  font-size: 24px;
}

.lable1 {
  right: 7%;
  animation: moveLable1 2s infinite alternate;
}

.lable2 {
  right: 60%;
  animation: moveLable2 2s infinite alternate;
}

.lable3 {
  right: 28%;
  animation: moveLable3 2s infinite alternate;
}

.lable4 {
  right: 43%;
  animation: moveLable4 2s infinite alternate;
}

.lable5 {
  right: 12%;
  animation: moveLable5 2s infinite alternate;
}

@keyframes moveLable1 {
  0% { top: 10px; }
  100% { top: 30px; }
}

@keyframes moveLable2 {
  0% { top: 80px; }
  100% { top: 100px; }
}

@keyframes moveLable3 {
  0% { top: 160px; }
  100% { top: 180px; }
}

@keyframes moveLable4 {
  0% { top: 270px; }
  100% { top: 290px; }
}

@keyframes moveLable5 {
  0% { top: 340px; }
  100% { top: 360px; }
}

@media only screen and (min-width: 1520px) {
  .lable1 {
    right: 7%;
    animation: moveLable1 2s infinite alternate;
  }
  
  .lable2 {
    right: 60%;
    animation: moveLable2 2s infinite alternate;
  }
  
  .lable3 {
    right: 28%;
    animation: moveLable3 2s infinite alternate;
  }
  
  .lable4 {
    right: 43%;
    animation: moveLable4 2s infinite alternate;
  }
  
  .lable5 {
    right: 12%;
    animation: moveLable5 2s infinite alternate;
  }
  
  @keyframes moveLable1 {
    0% { top: 10px; }
    100% { top: 30px; }
  }
  
  @keyframes moveLable2 {
    0% { top: 80px; }
    100% { top: 100px; }
  }
  
  @keyframes moveLable3 {
    0% { top: 160px; }
    100% { top: 180px; }
  }
  
  @keyframes moveLable4 {
    0% { top: 270px; }
    100% { top: 290px; }
  }
  
  @keyframes moveLable5 {
    0% { top: 340px; }
    100% { top: 360px; }
  }
}

@media only screen and (min-width: 1280px) {
  .lable1 {
    right: 7%;
    animation: moveLable1 2s infinite alternate;
  }
  
  .lable2 {
    right: 60%;
    animation: moveLable2 2s infinite alternate;
  }
  
  .lable3 {
    right: 28%;
    animation: moveLable3 2s infinite alternate;
  }
  .lable4 {
    right: 33%;
    animation: moveLable4 2s infinite alternate;
  }
  
  .lable5 {
    right: 3%;
    animation: moveLable5 2s infinite alternate;
  }

  @keyframes moveLable1 {
    0% { top: 10px; }
    100% { top: 30px; }
  }
  
  @keyframes moveLable2 {
    0% { top: 60px; }
    100% { top: 80px; }
  }
  
  @keyframes moveLable3 {
    0% { top: 140px; }
    100% { top: 160px; }
  }

  @keyframes moveLable4 {
    0% { top: 240px; }
    100% { top: 260px; }
  }
  
  @keyframes moveLable5 {
    0% { top: 320px; }
    100% { top: 340px; }
  }
}

@media only screen and (min-width: 828px) {
  .lable1 {
    right: 7%;
    animation: moveLable1 2s infinite alternate;
  }
  
  .lable2 {
    right: 60%;
    animation: moveLable2 2s infinite alternate;
  }
  
  .lable3 {
    right: 28%;
    animation: moveLable3 2s infinite alternate;
  }
  
  .lable4 {
    right: 43%;
    animation: moveLable4 2s infinite alternate;
  }
  
  .lable5 {
    right: 12%;
    animation: moveLable5 2s infinite alternate;
  }
  
  @keyframes moveLable1 {
    0% { top: 10px; }
    100% { top: 30px; }
  }
  
  @keyframes moveLable2 {
    0% { top: 80px; }
    100% { top: 100px; }
  }
  
  @keyframes moveLable3 {
    0% { top: 160px; }
    100% { top: 180px; }
  }
  
  @keyframes moveLable4 {
    0% { top: 270px; }
    100% { top: 290px; }
  }
  
  @keyframes moveLable5 {
    0% { top: 340px; }
    100% { top: 360px; }
  }
}


@media only screen and (min-width: 320px) {
  .lable1 {
    right: 7%;
    animation: moveLable1 2s infinite alternate;
  }
  
  .lable2 {
    right: 60%;
    animation: moveLable2 2s infinite alternate;
  }
  
  .lable3 {
    right: 28%;
    animation: moveLable3 2s infinite alternate;
  }
  
  .lable4 {
    right: 43%;
    animation: moveLable4 2s infinite alternate;
  }
  
  .lable5 {
    right: 12%;
    animation: moveLable5 2s infinite alternate;
  }
  
  @keyframes moveLable1 {
    0% { top: 10px; }
    100% { top: 30px; }
  }
  
  @keyframes moveLable2 {
    0% { top: 80px; }
    100% { top: 100px; }
  }
  
  @keyframes moveLable3 {
    0% { top: 160px; }
    100% { top: 180px; }
  }
  
  @keyframes moveLable4 {
    0% { top: 270px; }
    100% { top: 290px; }
  }
  
  @keyframes moveLable5 {
    0% { top: 340px; }
    100% { top: 360px; }
  }

  .count-mob {
    flex-direction: column;
    gap: 20px;
  }

}

@media only screen and (min-width: 360px) {
  .count-mob {
    flex-direction: row;
    gap: 0px;
  }
}